@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[sans-serif];
  }

  h1,
  h2,
  h3 {
    @apply font-[Cambria];
    @apply font-bold;
  }

  li {
    @apply font-bold;
    @apply pr-8;
    @apply cursor-pointer;
    @apply text-[#fffff9];
    @apply hover:text-blue-200;
  }
}
