@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@layer base {
  body {
    @apply font-[Roboto];
    @apply text-[#fffff9];
  }

  h1,
  h2,
  h3 {
    @apply font-[Lora];
    @apply font-bold;
  }

  li {
    @apply font-bold;
    @apply px-4;
    @apply cursor-pointer;
    @apply text-[#fffff9];
    @apply hover:text-amber-100;
  }
}
